@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CakeClientTeam2.Views.Sitehome.MyViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>

    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }

    .card {
        width: 250px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        margin-left: 20px;
        margin-bottom: 50px;
    }

    /* Add rounded corners to the top left and the top right corner of the image */
    img {
        border-radius: 5px 5px 0 0;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }

    #ins-btn {
        background-color: #009933;
        color: white;
        padding: 15px 25px;
        text-decoration: none;
    }

    .flex-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

</style>


<h1>Hi @ViewBag.Username...</h1>

<br>
<br>
<br>
<br>




@if (ViewBag.Usertype == "Admin")
{
    <p>
        <a id="ins-btn" asp-controller="Flower" asp-action="AddFlower">Create New</a>
        &emsp;&emsp;
        @*<a id="lgt-btn" asp-action="Logout">Logout</a>*@
    </p>
}


@if (ViewBag.Usertype == "User")
{
    <div class="jumbotron">
        <h1>Flower Finder</h1>
        <br>

        <form asp-controller="Occassion" asp-action="getFlower">

            <select name="category" class="form-control" required>
                <option value="0" disabled selected>Choose Category</option>
                @foreach (var category in Model.ListB)
                {
                    // loop through each product
                    <option value="@category.OccDetails">@Html.DisplayFor(modelItem => category.OccDetails)</option>
                }


            </select>

            <br><br>

            <input type="submit" class="btn btn-lg btn-success" value="FIND">

        </form>

    </div>

}

<br><br>

    <div class="flex-container">

        @foreach (var item in Model.ListA)
        {
            <div class="card" style="margin-top: 15px;">
                <img alt="image"
                     src="data:image/jpg;base64, @Convert.ToBase64String(item.FlImage)" height="250" width="250" />
                <div class="container">

                    <h4 style="margin-top: 5px;"><b>@Html.DisplayFor(modelItem => item.Name)</b></h4>
                    <p>@Html.DisplayFor(modelItem => item.Occassion)</p>
                    <p>&#8377; @Html.DisplayFor(modelItem => item.UnitPrice)</p>

                    <hr>

                    @if (@ViewBag.Usertype == "Admin")
                    {
                        <div>
                            <a class="btn btn-primary" style="float: left; margin-left: 10px; margin-bottom: 5px;" asp-controller="Flower" asp-action="UpdateFlower" asp-route-id="@item.Id">Edit</a>

                            <a class="btn btn-danger" style="float: right; margin-right: 10px; margin-bottom: 5px;" asp-controller="Flower" asp-action="DeleteFlower" asp-route-id="@item.Id">Delete</a>
                        </div>
                    }
                    else
                    {
                        <a style="margin-right: 50px; margin-left: 50px; margin-bottom: 5px;" class="btn btn-success" asp-controller="Flower" asp-action="AddToCart" asp-route-id="@item.Id">Add to Cart</a>

                    }

                </div>
            </div>
            <br>
            <br>
        }

    </div>

<br><br>



