@model IEnumerable<CakeClientTeam2.ProjModel.OrderDetail>

@{ ViewData["Title"] = "ViewOrders"; }
<style>
    body {
        background-image: url('../../image/bg-image.jpg');
        background-repeat: no-repeat;
        background-position: center; /* Center the image */
        background-size: cover; /* Resize the background image to cover the entire container */
        background-attachment: fixed;
    }
</style>
<h1>View All Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Order number
            </th>
            <th>
                Flower id
            </th>


            <th>
                Total price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>
                Order status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.OrderId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.CakeId)
    </td>

    <td>
        &#8377; @Html.DisplayFor(modelItem => item.Totalprice)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Remark)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PaymentStatus)
    </td>
    <td>
        <a asp-action="UpdateStatus" asp-route-id="@item.OrderId"><button>Update Status</button></a>
    </td>
</tr>
}
    </tbody>
</table>
